/* Variables */
:root {
--color-white: #FFFFFF;
--color-white-30: rgba(255, 255, 255, 0.3);
--color-black: #000000;
--color-black-30: rgba(0, 0, 0, 0.3);
--color-half-baked: #81B3D2;
--color-fountain-blue: #669EC0;
--color-steel-blue: #5496BD;
--color-gallery: #EEEEEE;
--color-gallery-darker: #EBEBEB;
--color-pine-cone: #766357;
--color-kabul: #604E43;
--color-mondo: #503E33;
--color-concrete: #F2F2F2;
--color-silver: #CACACA;
--color-silver-chalice: #A9A9A9;
--color-pale-slate: #BDBBBC;
--color-mine-shaft: #333333;
--color-mercury: #E5E5E5;
--color-dove-gray: #666666;
--color-thunder: #231F20;
}


/* Util */

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.offer_visible {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.button {
  border: none;
  outline: none;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  text-transform: inherit;

  color: var(--color-white);
}
/* Global */

.page {
  height: 100%;
  background-color: var(--color-concrete);
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: relative;
  min-height: 100%;

  background-color: var(--color-white);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-white);
}

/* Header */

.header__index-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
}

.top-bar {
  min-height: 56px;
}

.top-bar__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 15px 72px;

  list-style: none;
}

.top-bar__item {
  width: 226px;
}

.top-bar__item:nth-child(2) {
  text-align: left;
}

.top-bar__item:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

.top-bar__item:nth-child(4) {
  text-align: right;
}

.top-bar__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  text-decoration: none;

  color: var(--color-black);
}

.top-bar__link:hover {
  color: var(--color-half-baked);
}

.top-bar__link:active {
  color: var(--color-black-30);
}

.top-bar__link_active {
  color: var(--color-pine-cone);
}

.page__img-wrapper {
  height: 509px;
  background-image: url("../img/mask.png"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.page-img__welcome {
  position: relative;
  left: 372px;
  top: 77px;
}

/* Sedona-info */

.sedona {
  width: 519px;
  min-height: 216px;

  margin: 0 auto;
  padding-top: 42px;
  box-sizing: border-box;
}

.sedona__info {
  margin: 0 0 46px 0;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--color-black);
}

.sedona__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--color-mine-shaft);
}

/* Reasons */

.reasons__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons-item__wrapper {
  display: flex;
}

.reasons-item__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  height: 256px;

  padding: 49px;
  box-sizing: border-box;
  background-color: var(--color-half-baked);
}

.sub-reasons__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 256px;
}

.reasons__item_style {
  padding: 47px 0 54px 0;
  box-sizing: border-box;
  background-color: var(--color-gallery);
}

.reasons__item_size {
  height: 330px;
  padding-top: 160px;
  padding-bottom: 82px;

  box-sizing: border-box;
}

.reasons__item_housing {
  background-image: url("../img/decor/house-icon.svg");
  background-repeat: no-repeat;
  background-position: top 60px center;
}

.reasons__item_food {
  background-image: url("../img/decor/hamburger-icon.svg");
  background-repeat: no-repeat;
  background-position: top 60px center;
}

.reasons__item_souvenirs {
  background-image: url("../img/decor/gift-icon.svg");
  background-repeat: no-repeat;
  background-position: top 60px center;
}

.reasons-item__title {
  margin: 0 0 25px 0;

  text-align: center;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--color-mine-shaft);
}

.reasons-item__title_color {
  text-align: center;
  color: var(--white);
}

.reasons-item__text {
  margin: 0;

  text-align: center;
  color: var(--color-black);
}

.reasons-item__text_color {
  color: var(--white);
}

.reasons-item__text_margin {
  margin-bottom: 24px;
}

/* Offer */

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 58px;
}

.offer__title {
margin: 0 0 16px 0;

font-size: 30px;
line-height: 24px;
font-weight: bold;

color: var(--color-black);
}

.offer__text {
  margin-bottom: 45px;

  text-align: center;
  font-size: 14px;
  line-height: 24px;

  color: var(--color-black);
}

.offer__search-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 568px;
  height: 86px;

  margin: 0;
  box-sizing: border-box;

  border: none;
  outline: none;
  background-color: var(--color-pine-cone);
  color: var(--color-white);

  font-family: inherit;
  text-transform: inherit;

  cursor: pointer;
}

.offer__search-button:hover {
  background-color: var(--color-kabul);
}

.offer__search-button:active {
  background-color: var(--color-mondo);
  color: var(--color-white-30);
}

.offer__wrapper {
  width: 568px;
  height: 395px;

  padding: 55px;
  box-sizing: border-box;

  background-color: var(--color-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.offer__form {
  position: relative;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--color-black);
}

.offer__form-box {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.offer__form-box_humans {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 54px;
}

.offer-form__field {
  height: 38px;
  margin-bottom: 30px;
  padding: 6px 0 6px 13px;

  border: none;
  box-sizing: border-box;
  background-color: var(--color-concrete);

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: inherit;
}

.offer-form__field:hover {
  background-color: var(--color-gallery-darker);
}

.offer-form__field:focus {
  border: 2px solid var(--color-mercury);
  outline: none;

  background-color: var(--color-white);
}

.offer-form_date-field {
  display: flex;
  justify-content: space-between;
  width: 346px;
  margin-left: auto;
}

.offer-form_humans {
  width: 114px;
  margin: 0;
  text-align: center;
}

.offer-form__calendar-img {
  position: absolute;
  top: 7px;
  right: 2px;

  border: none;
}

.offer-form__calendar-img-2 {
  position: absolute;
  top: 74px;
  right: 2px;

  border: none;
}

.offer-form__label_child {
  transform: translate(15px);
}

.offer__button {
  width: 458px;
  height:58px;

  border: none;
  outline: none;

  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: inherit;

  background-color: var(--color-half-baked);
  color: var(--color-white);

  cursor: pointer;
}

.offer__button:hover {
  background-color: var(--color-fountain-blue);
}

.offer__button:active {
  background-color: var(--color-steel-blue);
  color: var(--color-white-30);
}

.minus {
  position: absolute;
  top: 154px;
  right: 319px;

  width: 12px;
  height: 3px;

  border: none;
  background-color: var(--color-silver-chalice);
}

.form__button {
  position: absolute;
  bottom: 0px;
  right: 153px;

  width: 137px;
  height: 36px;

  border: 2px solid var(--color-white);
  border-radius: 2px;
  background-color: transparent;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;

  color: var(--color-white);

}

/* Footer contacts */

.page__footer {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  height: 120px;

  padding: 22px 138px 36px 122px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.9);
}

.page__footer_index {
  position: absolute;
  bottom: 4px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.footer__tel {
  margin: 0;
  text-decoration: none;
}

.footer__link {
  margin: 0
}

.footer__social-list {
  display: flex;
  column-gap: 6px;

  margin: 13px 0 0 0;
  padding: 0;

  list-style: none;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  background-color: var(--color-half-baked);
}

.button-social:hover {
  background-color: var(--color-fountain-blue);
}

.button-social:active {
  background-color: var(--color-steel-blue);
}

.button-social__icon:active {
  opacity: 0.3;
}

.footer__developer-box {
  display: flex;
  column-gap: 8px;
  align-items: center;

  margin: 17px 3px 0 0;
}

.footer__developer {
  margin: 0;
  color: var(--color-black);
}

.footer-developer__img{
  fill: var(--color-thunder);
}

.footer-developer__img:hover {
  fill: var(--color-half-baked);
}

.footer-developer__img:active {
  fill: var(--color-pale-slate);
}


/* Filters */

.filters {
  position: relative;
}

.filters__form {
display: flex;
flex-wrap: wrap;

position: absolute;
top: 25px;
left: 72px;
}

.filters__checkbox-wrapper {
  display: flex;
  column-gap: 114px;
}

/* Fieldset */

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset__title {
font-size: 16px;
line-height: 21px;
font-weight: bold;
}

.fieldset__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.fieldset__title_housing {
  margin-bottom: 27px;
}

.fieldset_housing {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}

.fieldset_price {
  margin-left: 364px;
}


/* Input-checkbox */

.input-checkbox {
  display: flex;
  align-items: flex-start;
}

.input-checkbox__label {
  position: relative;

  overflow: hidden;

  max-width: 200px;
  transform: translateY(2px);
  text-overflow: ellipsis;
}

.input-checkbox__label-wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;

  cursor: pointer;
}

.input-checkbox__button {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  box-sizing: border-box;
  width: 27px;
  height: 23px;

  outline: none;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.input-checkbox__control:checked + .input-checkbox__label-wrapper .input-checkbox__button {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.input-checkbox__control:disabled + .input-checkbox__label-wrapper .input-checkbox__button {
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.input-checkbox__control:checked:disabled + .input-checkbox__label-wrapper .input-checkbox__button {
  background-image: url("../img/checkbox-disabled.svg");
  background-repeat: no-repeat;
}

/* Sort */

.page__hotel_grid {
  display: grid;
  grid-template-rows: 86px 150px 150px 150px;
}

.sort {
  display: flex;
  align-items: flex-start;

  padding: 25px 73px 31px 73px;
  border-bottom: 1px solid var(--color-mercury);
  box-sizing: border-box;
}

.sort__found {
  margin: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: var(--color-black);
  order: -1;
}

.sort__type-list {
  display: flex;
  column-gap: 32px;

  margin: 0 503px 0 40px;
  padding: 0;

  list-style: none;

  transform: translateY(-2px);
}

.sort__list_order {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__title {
  margin: 0 0 0 46px;
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;

  color: var(--color-black);
}

.sort-type__title {
 border-bottom: 1px dotted var(--color-half-baked);
}

.sort-type__title:hover {
  color: var(--color-half-baked);
 }

.sort-type__link {
  text-decoration: none;

  font-size: 12px;
  line-height: 18px;
  color: var(--color-black-30);
}

.sort-type__link:active {
  border-bottom: none;
  color: var(--color-black);
}

.sort-type__title_checked {
  border-bottom: none;
  color: var(--color-half-baked);
}

.sort__list {
  display: flex;
  column-gap: 12px;
}

.sort__link:hover {
 color: var(--color-black);
}

.sort__link:active,
.sort__link_checked {
  color: var(--color-half-baked);
 }

/* Hotel */

.hotel {
  display: flex;
  justify-content: space-between;
  padding: 24px 71px;

  border-bottom: 1px solid var(--color-mercury);
}

.hotel__info {
display: flex;
flex-wrap: wrap;
column-gap: 29px;

height: 90px;
}

.hotel-info__wrapper {
  display: flex;
  flex-direction: column;
}

.hotel-info__text-wrapper {
display: flex;
column-gap: 9px;

margin-bottom: 15px;
}

.hotel-info__button-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 6px;
}

.hotel-info__title {
  margin: 0 0 3px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  transform: translateY(-2px);

  text-decoration: none;
  color: var(--color-black);
}

.hotel-info__title:hover {
color: var(--color-half-baked);
}

.hotel-info__title:active {
  color: var(--color-black-30);
  }

.hotel-info__text {
  min-width: 110px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;

  color: var(--color-black);
}

.hotel__rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 41px;
  height: 90px;
}

.hotel-rating__count {
  width: 110px;
  height: 27px;

  padding-top: 3px;
  box-sizing: border-box;
  text-align: center;


  background-color: var(--color-concrete);
  color: var(--color-dove-gray);
}

.button-about {
  width: 110px;
  height: 27px;

  background-color: var(--color-half-baked);

  cursor: pointer;
}

.button-about:hover {
background-color: var(--color-fountain-blue);
}

.button-about:active {
  background-color: var(--color-steel-blue);
  color: var(--color-white-30);
  }

.button-reserve {
  width: 142px;
  background-color: var(--color-pine-cone);

  cursor: pointer;
}

.button-reserve:hover {
  background-color: var(--color-kabul);
}

.button-reserve:active {
  background-color: var(--color-mondo);
  color: var(--color-white-30);
}
