/* Variables */
:root {
--color-white: #FFFFFF;
--color-black: #000000;
--color-black-30: rgba(0, 0, 0, 0.3);
--color-half-baked: #81B3D2;
--color-fountain-blue: #669EC0;
--color-steel-blue: #5496BD;
--color-gallery: #EEEEEE;
--color-gallery-darker: #EBEBEB;
--color-pine-cone: #766357;
--color-kabul: #604E43;
--color-mondo: #503E33;
--color-concrete: #F2F2F2;
--color-silver: #CACACA;
--color-silver-chalice: #A9A9A9;
--color-pale-slate: #BDBBBC;
--color-mine-shaft: #333333;
}


/* Util */

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Global */

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  min-height: 100%;

  background-color: var(--color-white);

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-white);
}

/* Header */

.header__index-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.top-bar {
  min-height: 56px;
}

.top-bar__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 15px 72px;

  list-style: none;
}

.top-bar__item {
  width: 226px;
}

.top-bar__item:nth-child(2) {
  text-align: left;
}

.top-bar__item:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

.top-bar__item:nth-child(4) {
  text-align: right;
}

.top-bar__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--color-black);
}

.header__img-wrapper {
  height: 509px;
  background-image: url("../img/mask.png"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.header-img__welcome {
  position: relative;
  left: 372px;
  top: 77px;
}

/* Sedona-info */

.sedona {
  width: 519px;
  min-height: 272px;

  margin: 0 auto;
  padding-top: 42px;
  box-sizing: border-box;
}

.sedona__info {
  margin: 0 0 46px 0;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--color-black);
  text-transform: uppercase;
}

.sedona__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-mine-shaft);
}

/* Reasons */

.reasons__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons-item__wrapper {
  display: flex;
}

.reasons-item__info {
  width: 400px;
  height: 256px;
  background-color: var(--color-half-baked);
}

.sub-reasons__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons__item {
  width: 400px;
  height: 256px;
}

.reasons__item_background {
  background-color: var(--color-gallery);
}

.reasons-item__title {
  color: var(--color-mine-shaft);
}

.reasons-item__title_color {
  color: var(--white);
}

.reasons-item__text {
color: var(--color-black);
}

.reasons-item__text_color {
  color: var(--white);
}
