.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  background-color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
